
@import "siimple/all";


.search {
  @extend .siimple-input;
  @extend .siimple-input--fluid;
  margin-bottom: 10px;
}

.actions {
  @extend .siimple-content;
  @extend .siimple-content--large;

  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 100px;
  height: auto;
  width: 580px;
  padding: 0 40px;
  margin-left: -320px;

  overflow: auto;
  border-radius: $siimple-default-border-radius;
  background-color: white;
  box-shadow: 0px 0px 6px 3px siimple-default-color("light", "base");

  .siimple-close {
    position: absolute !important;
    right: 5px !important;
    top: 5px !important;
  }
}

.actions.show {
  display: block;
}

.add-form {
  @extend .siimple-form;

  h1 {
    @extend .siimple-form-title;
  }

  .add-field {
    @extend .siimple-form-field;
    h2 {
      @extend .siimple-form-field-label;
    }
    input {
      @extend .siimple-input;
      @extend .siimple-input--fluid;
    }
  }
}

.add-file-label {
  @extend .siimple-input;
  @extend .siimple-input--fluid;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: siimple-default-color("light", "base");
    cursor: pointer;
  }

  & > input[type=file] {
    display: none;
  }
}

.add {
  @extend .siimple-btn;
  @extend .siimple-btn--fluid;
  @extend .siimple-btn--primary;
}

.add-button {
  @extend .siimple-btn;
  @extend .siimple-btn--fluid;
  @extend .siimple-btn--primary;
  margin-bottom: 10px;
}

.article-list {
  display: block;
  width: 100%;
  margin: {
      bottom: $siimple-default-margin-bottom;
  }
  color: $siimple-default-text-color;
  font-size: $siimple-default-text-size;
  line-height: $siimple-default-text-line;
  padding-inline-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

.article-item {
  display: flex;
  margin-bottom: 8px;
}

.article-content {
  order: 1;
  flex-grow: 1;
  background-color: siimple-default-color("light", "light");
  transition: all 0.3s ease;
  text-decoration: none;
  color: $siimple-default-text-color;
  padding: $siimple-list-item-padding;

  border-top-left-radius: $siimple-default-border-radius;
  border-bottom-left-radius: $siimple-default-border-radius;

  &:hover {
    background-color: siimple-default-color("light", "base");
    cursor: pointer;
  }
}

.article-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: $siimple-default-text-color;
}

.article-authors {
  .article-author {
    @extend .siimple--text-italic;

    &::after {
      content: ", ";
    }

    &:only-child::after {
      content: "";
    }

    &:first-child:nth-last-child(2)::after {
      content: " and ";
    }

    &:nth-last-child(2)::after {
      content: ", and ";
    }

    &:last-child::after {
      content: "";
    }
  }
}

.article-delete {
  @extend .siimple-btn;
  @extend .siimple-btn--error;

  display: flex;
  order: 2;
  height: auto;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
